/* GENERICS */

header{
    height: 100px;
}

nav{
    height: 100%;
}

img{
    max-width: 100%;
}

span.bar{
    height: 10px;
    width: 100%;
    background-color: white;
    line-height: 100%;
    vertical-align: middle;

}

[class^="col"]{
    border: 2px solid black;
}

.bi-star-fill{
    font-size: 2rem;
    line-height: 100%;
    vertical-align: middle;
}


/* Utils */
.bg-black{
    background-color: black;
}

.bg-green{
    background-color: #1abc9c;
}


/* BACKGROUND SECTION */

#jumbo{
    min-height: 400px;
    background-color: #1abc9c;
}


#portfolio{
    min-height: 500px;
}

#about{
    background-color: #1abc9c;
    min-height: 400px;
}

footer{
    min-height: 300px;
}

#footer-top{
    background-color: #3a546d;
}

